<br>
<header >
    <div class="container-fluid"  >

      <div class="row align-items-center " >
       <div class="col "> <a href="#"><img src="assets/logo.png" alt="" width="120" height="50"></a></div>
       <div class="col-6"> </div>     
       
       <div class="col"> <a href="https://www.facebook.com/profile.php?id=100009547503570" ><img class="l"src="assets/fb.png" widtth="30 "  height="30 "  ></a></div>
       <div class="col"> <a href="https://argentinaprograma.inti.gob.ar/user/profile.php?id=18831"><img  class="ll" src="assets/ig.png" widtth="30 "  height="30 " ></a> </div>
        <div class="col"><button type="button" class="btnn " ><b>Login</b></button></div>
</div>
      
  
    </div>
  </header>
<!-- banner de presentacion -->
<br>
