<div class="tarjeta">
    <h4>Presentación</h4>
         <form action="typescrp" method="get" id="pI">
             <p>Nombre y apellido <input type="text" name="nombre" size="40"></p>
         </form>
        
         <form action="typescrp" method="get" id="pI">
          <p>informacion profesional breve <input type="text" name="profesion" size="40"></p>
     </form>
        <form action="typescrp" method="get" id="pI">
            <p>provincia <input type="text" name="provincia" size="20"> Pais<input type="text" name="pais" size="20"></p>
        </form>
        <form action="typescrp" method="get" id="pI">
            <p> Link de red social: <input type="url" name="rsocial" size="20"> </p> </form>
            <form action="typescrp" method="get" id="pI">
            <p> Link de red social: <input type="url" name="rsocial" size="20"> </p> </form>
            <button type="button" class="btnag"> agregar</button>
      </div>
