<div class="tarjeta"> 
    <h4>Proyectos</h4>
    <form action="typescrp" method="get" >
      <p>Nombre del proyecto <input type="text" name="nproyecto" size="20"> </p>
      <p>fecha de inicio<input type="date" name="finicio" size="2"> fecha de finalización <input type="date" name="ffin" size="2"></p> 
      <div class="mb-3">
  <p>Descripción del proyecto</p> 
        
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      <button type="button" class="btnag"> agregar</button>
    </form>
  </div>